.home__bg{
background-image: url(../assets/headerImage.png);
height: 92vh;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
overflow-x: hidden;

}
.home-message-icon{
 margin-left: 10px;   
 display: inline-block;
}
.temp{
    display: grid;
    align-items: center;
    justify-content: center;
    place-items: center;
    text-align: center;
    
}